.card-link {
	color: black;
	text-decoration: none;
}

.data-container {
	max-width: 1200px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 20px;
	margin: auto;
}

.header {
	max-width: 84%;
	margin-left: 8%;
}

.lithium-label {
    display: inline-block;
    width: 69px;
    height: 27px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.lithium-label:hover {
    color: black;
    text-decoration: none;
}

span.mq-label {
    background-color: red;
    color: white;
    width: 40px;
    padding-left: 0%;
    border-radius: 3px;
    height: 30px;
    padding-left: 4px;
    padding-right: 38px;
}

span.mq-label:hover {
    color: white;
    text-decoration: none;
}

.nohover {
	color: black;
	text-decoration: none;
}

.nohover:hover {
    text-decoration: none;
    color: #000;
}

.card-container {
    margin-top: 10px;
}

.card-use {
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nomb {
    margin-bottom: 0px;
}

.card-usage-block {
	padding-top: 0px;
	margin-top: 0px;
	margin-left: -8.5px;
}

.channel-id {
    font-size: 12px;
}

.no-va {
    vertical-align: top;
    margin-top: 2px;
}

.activity-status {
    height: 30px;
}

span.card-ic {
    height: 36px;
    width: 36px;
}

.fas-card {
    font-size: 12px;
    margin-top: 12px;
    margin-left: 10px;
}

span.card-val {
    width: 100px;
    font-size: 12px;
    padding-top: 6.5px;
}

.plan {
    margin-top: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.badge-key {
    background-color: #eee;
    color: #000;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    padding: 15px;
}

.helpdesk-container {
    max-width: 1000px;
    width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 20px;
	margin: auto;
}

.text-nologin {
    font-size: 50px;
}

@media(max-width: 640px) {
    .btn-user {
        font-size: 10px;
    }

    .header {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
    }

    .helpdesk-container {
        margin-left: 15px;
        margin-right: 15px;
    }


    .text-nologin {
        font-size: 25px;
    }
}

.list-mixin {
    max-width: 300px;
    margin: auto;
    content-align: center;
}

.mixin-tab-link {
    text-align: center;
}

#allow-info, #selected-info {
    display: none;
}

#allow-info {
    margin-bottom: 1rem;
}

.subselect {
    font-size: 12px;
    margin-bottom: 20px !important;
}

.no-keys, .no-mixin {
    text-align: center;
    font-size: 80%;
    color: #aaa;
}

.helpdesk-links {
    line-height: 30%;
    margin-left: 3%;
    margin-top: 2%;
}

.card-container {
    display: inline-block
}


@media screen and (max-width: 576px) {
    .register-label {
        margin-top: 15px;
    }
}

