a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: grey;
	text-decoration: none;
}

.data_container {
	max-width: 80%;
	margin-left: 10%;
	padding-top: 20px;
}

.header {
	max-width: 84%;
	margin-left: 8%;
}

.name_site {
	color: black;
	text-decoration: none;
}

.name_site:hover {
	color: grey;
	text-decoration: none;
}

.lithium-label {
    display: inline-block;
    width: 69px;
    height: 27px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

span.mq-label {
    background-color: red;
    color: white;
    width: 40px;
    padding-left: 0%;
    border-radius: 3px;
    height: 30px;
    padding-left: 4px;
    padding-right: 38px;
}
