{% extends "helpdesk/hbase.html" %}

{% block helpdesk_content %}
<h2>Редактирование канала</h2>
<ol>
    <li>Зарегистрируйтесь на сайте и войдите в панель</li>
    <li>На главной странице найдите нужный канал. Если у вас еще нет каналов, вы можете их <a href="/helpdesk/channels_create">создать</a></li>
    <li>Нажмите на карточку канала, который хотите отредактировать</li>
    <li>Вы окажетесь на странице настроек канала</li>
</ol>
<p>
    Страница настроек канала выглядит так: </p><br>
    <div class="frame">
    {% with tab="main" %}
        {% include 'helpdesk/edit_menu/edit_menu.html' %}
    {% endwith %}
    </div>
    <p>Изначально открываются основные настройки, в которых вы можете:</p>
    <ol>
        <li>Изменять имя канала</li>
        <li>Поменять статус канала: активный или нет</li>
    </ol>
<p>После редактирования следует нажать на кнопку «Сохранить изменения»</p>
<p>Также в левом меню помимо основных настроек, есть пункты <a href="/helpdesk/keys_create">«Ключи доступа»</a> и <a href="/helpdesk/mixins_create">«миксины»</a></p>

{% endblock %}
