{% extends "helpdesk/hbase.html" %}

{% block helpdesk_content %}
    <h2>Создание канала</h2>

    <ol>
        <li>Зарегистрируйтесь на сайте и войдите в панель.</li>
        <li>На главной странице нажмите на карточку «+ Создать канал»</li>
        <li>Придумайте название для вашего канала. По этому названию
            канал можно будет определить в панели
        </li>
        <li>При успешном создании вы снова окажетесь на главной
            странице
        </li>
    </ol>

    <p>
        Карточка канала выглядит так: <br>
        {% include 'helpdesk/card.html' %}
    <br>
    <p>На ней отображаются:</p>
    </p>

    <ul>
        <li>Название канала, введённое вами ранее</li>
        <li>#ID канала, выданный системой</li>
        <li>Статус активности, канал активен, если есть хотя бы один активный ключ</li>
        <li>Индикаторы количества ключей доступа: R - количество ключей
            на чтение, W - на запись
        </li>
        <li>Кнопка для настройки канала</li>
    </ul>
{% endblock %}
