{% extends "base.html" %}

{% block content %}
<div class="helpdesk-container">

    <h1>Пара слов о LithiumMQ</h1>

    <h2 id="what">Что это такое?</h2>
    <p>
        <b>LithiumMQ</b> это облачный месседж-брокер. <br>
    </p>
    <p>
        Его основная (да и по сути единственная) цель – принимать и отдавать сообщения. <br>
        Его можно представлять себе, как почтовое отделение: когда Вы бросаете письмо в ящик,
        Вы можете быть уверены, что рано или поздно почтальон доставит его адресату.
        В этой аналогии LithiumMQ является одновременно и почтовым ящиком, и почтовым отделением, и почтальоном. <br>
    </p>
    <p>
        Идея далеко не нова: подобные вещи уже <a href="https://www.rabbitmq.com/">существуют</a>. <br>
        Но в чем наша особенность: <b>LithiumMQ</b> работает <b>полностью в облаке</b>
        и не требует от вас наличие сервера. <br>
    </p>

    <h2 id="why">А зачем?</h2>
    <p>
        Вы можете использовать его для передачи любых сообщений между
        любыми устройствами — нужен лишь доступ в интернет. <br>
        Область применения ограничена лишь вашей фантазией.
    </p><br>
    <h1>Документация</h1>
    <div>
        <h2>Каналы</h2>
        <p>Канал &#8211; объект облачного message-брокера.</p>
        <h5>Ответы на соответствующие вопросы</h5>
        <div class="helpdesk-links">
            <p><a href="/helpdesk/help_channels_create">Как создать канал?</a></p>
            <p><a href="/helpdesk/help_channels_edit">Как редактировать канал?</a></p>
            <p><a href="/helpdesk/help_channels_delete">Как удалить канал?</a></p>
        </div>
    </div><br>
    <div>
        <h2>Ключи и права доступа</h2>
        <p>Ключи нужны для доступа к чтению информации, переданной другим пользователем
            или для отправления своего сообщения<br>Права доступа бывают двух видов:</p>
            <ul>
                <li>На чтение сообщений с канала</li>
                <li>На отправку сообщений на канал</li>
            </ul>
        <h5>Ответы на соответствующие вопросы</h5>
        <div class="helpdesk-links">
            <p><a href="/helpdesk/keys">Как создать ключ?</a></p>
            <p><a href="/helpdesk/keys">Права настроить права доступа?</a></p>
            <p><a href="/helpdesk/keys">Как удалить ключ?</a></p>
        </div>
    </div><br>
    <div>
        <h2>API</h2>
        <p>Наше API позволяет отправлять, слушать и проверять статистику канала.</p>
        <h5>Ответы на соответствующие вопросы</h5>
        <div class="helpdesk-links">
            <p><a href="#">Вопрос?</a></p>
        </div>
    </div><br>
    <div>
        <h2>Миксины</h2>
        <p>Миксины позволяют связывать несколько каналов, составляя из них цепочки. Это отлично подойдет
            для публичного канала, у которого есть ключи на запись для администраторов
            и публичный ключ на чтение, который могут использовать другие каналы.
        </p>
        <h5>Ответы на соответствующие вопросы</h5>
        <div class="helpdesk-links">
            <p><a href="#">Вопрос?</a></p>
        </div>
    </div><br>

</div>

{% endblock %}