{% extends "helpdesk/hbase.html" %}
{% block helpdesk_content %}
    <h2>Создание ключа</h2>

    <ol>
        <li><a href="/helpdesk/channels/edit">Пройдите в настройки</a>
            нужного канала
        </li>
        <li>Перейдите в пункт меню «Ключи доступа»</li>
    </ol>

    <p>
        Страница настроек ключей выглядит так: <br>
    </p>
    <div class="frame">
        {% with tab='keys' %}
            {% include 'helpdesk/edit_menu/edit_menu.html' %}
        {% endwith %}
    </div>
    <ol start="3">
        <li>Придумайте название для вашего ключа. По этому названию ключ
            можно будет определить
        </li>
        <li><a href="/helpdesk/keys_perm">Выберите права</a> для этого
            ключа: на прием или отправку
        </li>
        <li>При успешном создании ключ добавится в список под формой
        </li>
    </ol>
    <p>
        Карточка ключа выглядит так:</p>
    {% include 'helpdesk/edit_menu/key.html' %}
    <p>На ней отображаются:</p>
    <ul>
        <li>Название ключа, введённое вами ранее</li>
        <li>ID ключа, выданный системой</li>
        <li>Кнопки для приостановки и удаления ключа</li>
    </ul>
{% endblock %}
