{% extends "helpdesk/hbase.html" %}
«+ Создать канал»
{% block helpdesk_content %}
<h2>Выбор прав доступа</h2>
<p>Вы можете выбрать для ключа права доступа:</p>
<ol>
    <li>
        На прием.<br>
        Данное право доступа позволяет принимать сообщения с канала, которые поступают посредством других ключей.<br>
        При выборе этого права открывается дополнительный пункт «Разрешить info».
        С помощью данного чекбокса можно настроить отбражение <a href="#">миксинов</a> для ключа в статистике.
        <div class="alert alert-warning" role="alert"><i class="fas fa-exclamation-triangle"></i> Если ключ публичный, рекомендуется не ставить этот чекбокс</div>
    </li>

    <li>
        На отправку.<br>
        С помощью такого ключа можно отправлять сообщения на канал
    </li>
</ol>
{% endblock %}
