{% extends "helpdesk/hbase.html" %}
«+ Создать канал»
{% block helpdesk_content %}
    <h2>Выбор прав доступа</h2>
    <p>При создании ключа вы можете выбрать права доступа:</p>
    <ol>
        <li>
            На прием.
            <p>Данное право доступа позволяет принимать сообщения с
                канала, которые поступают посредством других ключей.
            </p>
            <ul>
                <li>
                    <p>
                        При выборе этого права открывается
                        дополнительный пункт
                        «Разрешить info».
                        С помощью данного чекбокса можно настроить
                        отбражение
                        <a href="#">миксинов</a> для ключа в статистике.
                    </p>
                    <div class="small-gap"></div>
                    <span class="button error-button"
                          style="text-align: left; width: 100%;  max-width: max-content; padding-left: 16px; padding-right: 16px">
                        Если ключ публичный, рекомендуется не ставить этот чекбокс
                    </span>
                </li>

                <li><p>Также появляется дополнительный пункт «Разрешить
                    миксины».
                    Этот чекбокс отвечает за запрет создания <a
                            href="#">миксинов</a></p>
                </li>
            </ul>
        </li>

        <li>На отправку.
            <p>С помощью такого ключа можно отправлять сообщения на
                канал</p>
        </li>
    </ol>
{% endblock %}
