<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e71433d341.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block title %}
    <title>{{ title }}</title>
    {% endblock %}
    <style type="text/css">
    </style>
</head>
<body>
<div class="header">
    <nav class="navbar navbar-light bg-light">
        <a href="/"><div>
            <span class="lithium-label">Lithium</span>
            <span class="lithium-label mq-label">MQ</span>
        </div></a>

        <div class="nick">
            {% if current_user.is_authenticated %}
            <div>
                <a href="/logout"><h4 class="nick">{{ current_user.username }}</h4></a>
            </div>
            {% else %}
            <div>
                <a href="/register">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </a>
                <a href="/login">
                    <button type="submit" class="btn btn-success">Войти</button>
                </a>

            </div>
            {% endif %}
        </div>
    </nav>
</div>
{% block content %}

{% endblock %}
</body>
</html>