<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e71433d341.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block title %}
    <title>{{ title }}</title>
    {% endblock %}
    <style type="text/css">
    </style>
</head>
<body>
<div class="header">
    <nav class="navbar navbar-light bg-light">
        <div>
            <span class="lithium-label">Lithium</span>
            <span class="lithium-label mq-label">MQ</span>
        </div>

        <div class="nick">
            {% if current_user.is_authenticated %}
            <div>
                <a href="/logout"><h4 class="nick">{{ current_user.username }}</h4></a>
            </div>
            {% else %}
            <div>
                <a href="/register">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </a>
                <a href="/login">
                    <button type="submit" class="btn btn-success">Войти</button>
                </a>

            </div>
            {% endif %}
        </div>
    </nav>
</div>
{% block content %}
<div class="data_container">
    {% if current_user.is_authenticated %}
    <h4>Каналы</h4>

    {% if user_channels is not defined %}
        <h6>Вы еще не создали ни одного канала. Попробуйте!</h6>
    {% else %}
        <div class="row">
        {% for chan in user_channels %}
            <div class="col-md-4 mb30">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ chan.name }}</h5>
                        <p class="channel-id card-subtitle mb-2 text-muted">#{{ chan.id }}</p>
                        <div class="d-flex card-usage-block">
                            <span class="card-ic">
                                <svg class="bi bi-dot text-success" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            <span class="card-val">
                                активен
                            </span>
                        </div>

                        <div class="d-flex card-usage-block">
                            <span class="card-ic">
                                <i class="fas fa-key fas-card"></i>
                            </span>
                            <span class="card-val">
                                R: 5
                                <br>
                                W: 1
                            </span>
                        </div>

                        <div class="plan">
                            <a href="#" class="card-link">
                                <i class="fas fa-cog"></i>
                            </a>
                            <a href="#" class="card-link">
                                <i class="fas fa-hockey-puck"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
        </div>
    {% endif %}
    <a href="/add_token">
    <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Создать канал</button>
    </a>
    {% else %}
    <h4>Тут крутой шоукейс</h4>
    {% endif %}
</div>
{% endblock %}
</body>
</html>