{% extends "base.html" %}

{% block content %}
<div class="data_container">
    <h3 class="register-label">Создание канала</h3>
    <form action="/do/create_channel" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <p>
            {{message}}
        </p>

    </form>
</div>
{% endblock %}