{% extends "base.html" %}

{% block content %}
<div class="helpdesk-container">
    <h1>Пара слов о LithiumMQ</h1>

    <h2 id="what">Что это такое?</h2>
    <p>
        <b>LithiumMQ</b> это облачный месседж-брокер. <br>
    </p>
    <p>
        Его основная (да и по сути единственная) цель – принимать и отдавать сообщения. <br>
        Его можно представлять себе, как почтовое отделение: когда Вы бросаете письмо в ящик,
        Вы можете быть уверены, что рано или поздно почтальон доставит его адресату.
        В этой аналогии LithiumMQ является одновременно и почтовым ящиком, и почтовым отделением, и почтальоном. <br>
    </p>
    <p>
        Идея далеко не нова: подобные вещи уже <a href="https://www.rabbitmq.com/">существуют</a>. <br>
        Но в чем наша особенность: <b>LithiumMQ</b> работает <b>полностью в облаке</b>
        и не требует от вас наличие сервера. <br>
    </p>

    <h2 id="why">А зачем?</h2>
    <p>
        Вы можете использовать его для передачи любых сообщений между
        любыми устройствами — нужен лишь доступ в интернет. <br>
        Область применения ограничена лишь вашей фантазией.
    </p>

</div>

{% endblock %}