{% extends "base.html" %}

{% block content %}
<div class="data_container">
    {% if current_user.is_authenticated %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <h4>Каналы</h4>

    {% if user_channels is not defined %}
        <h6>Вы еще не создали ни одного канала. Попробуйте!</h6>
    {% else %}
        <div class="row">
        {% for chan in user_channels %}
            <div class="col-md-4 mb30">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ chan.name }}</h5>
                        <p class="channel-id card-subtitle mb-2 text-muted">#{{ chan.id }}</p>
                        <div class="d-flex card-usage-block">
                            <span class="card-ic">
                                <svg class="bi bi-dot text-success" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            <span class="card-val">
                                активен
                            </span>
                        </div>

                        <div class="d-flex card-usage-block">
                            <span class="card-ic">
                                <i class="fas fa-key fas-card"></i>
                            </span>
                            <span class="card-val">
                                R: {{ user_channels_stat[loop.index0][0] }}
                                <br>
                                W: {{ user_channels_stat[loop.index0][1] }}
                            </span>
                        </div>

                        <div class="plan">
                            <a href="settings/{{ chan.id }}" class="card-link">
                                <i class="fas fa-cog"></i>
                            </a>
                            <a href="#" class="card-link">
                                <i class="fas fa-hockey-puck"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
        </div>
    {% endif %}
    <a href="/create_channel">
    <button type="submit" class="btn btn-success" ><i class="fas fa-plus"></i> Создать канал</button>
    </a>
    {% else %}
    <h4>Тут крутой шоукейс</h4>
    {% endif %}
</div>
{% endblock %}
