{% extends "base.html" %}

{% block content %}
<div class="data_container">
    <h3 class="register-label">Регистрация</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}
            {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        <p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        <p>
            {{message}}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

    </form>
</div>
{% endblock %}