{% extends "base.html" %}
{% block title %}
<title xmlns="http://www.w3.org/1999/html">Settings for &laquo;{{ chan.name }}&raquo;</title>
{% endblock %}
{% block content %}
<div class="data-container">
    <h4>Настройки для &laquo;{{ chan.name }}&raquo;</h4>
    <div class="row">
        <div class="col-12 col-sm-4 col-md-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-main-settings-open"
                   data-toggle="list" href="#list-mainsettings" role="tab"
                   aria-controls="mainsettings">Основное</a>
                <a class="list-group-item list-group-item-action" id="list-keys-open"
                   data-toggle="list" href="#list-key" role="tab" aria-controls="key">Ключи
                    доступа</a>
                <a class="list-group-item list-group-item-action" id="list-mixin-settings-open"
                   data-toggle="list" href="#list-mixin" role="tab"
                   aria-controls="key">Миксины</a>
            </div>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
            <div class="tab-content" id="nav-tabContent">

                <!-- Основное -->
                <div class="tab-pane fade show active"
                     id="list-mainsettings" role="tabpanel"
                     aria-labelledby="list-main-settings-open">
                    <form action="/do/settings" method="post">
                        <h5 class="register-label">Основное</h5>
                        {{ form_main_settings.hidden_tag() }}
                        <p>
                            {{ form_main_settings.name.label }}<br>
                            {{ form_main_settings.name(class="form-control") }}
                            {% for error in form_main_settings.name.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                        {% endfor %}
                        <p>{{ form_main_settings.is_active() }} {{ form_main_settings.is_active.label }}</p>
                        <p>{{ form_main_settings.submit(type="submit", class="btn btn-primary") }}</p>
                    </form>
                </div>

                <!-- Создание ключа -->
                <div class="tab-pane fade" id="list-key" role="tabpanel"
                     aria-labelledby="list-keys-open">
                    <h5 class="register-label">Создать ключ</h5>

                    <form action="/do/grant" method="post">
                        {{ form_keys.hidden_tag() }}
                        <p>
                            {{ form_keys.name.label }}<br>
                            {{ form_keys.name(class="form-control") }}
                            {% for error in form_keys.name.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                        {% endfor %}
                        <div id="permissions">
                        {% for subfield in form_keys.permissions %}
                            {% if loop.index0 == 0 %}
                                <p id="can-read">{{ subfield }} {{ subfield.label }}</p>

                                <div id="allow-info">
                                    <p class="nomb"> {{ form_keys.info_allowed() }} {{ form_keys.info_allowed.label }} </p>
                                    <p class="subselect mb-2 text-muted" id="selected-info">
                                        <i class="fas fa-exclamation-triangle"></i>
                                        Выбирайте этот параметр, только если точно понимаете, зачем он нужен.
                                        Подробнее можно прочитать в <a href="/helpdesk#api-info-method">документации</a>
                                    </p>
                                </div>
                            {% else %}
                                <p id="can-write">{{ subfield }} {{ subfield.label }}</p>
                            {% endif %}
                        {% endfor %}
                        </div>

                        <p>{{ form_keys.submit(type="submit", class="btn btn-primary") }}</p>
                    </form><br>
                    <h5 class="register-label">Ключи</h5><br>

                    {% if not keys %}
                        <h6 class="no-keys">Вы еще не создали ни одного ключа</h6>
                    {% else %}
                        {% for key in keys %}
                        <div class="card w-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ key.name }} {% if not key.active()%} <a class="text-muted">(приостановлен)</a>
                                    {% endif %} </h5>
                                <p class="channel-id mb-2 text-muted">{{ rights[loop.index0] }}</p>
                                <p class="card-text"><span class="badge badge-secondary badge-key">{{ key.key }}</span></p>
                                <div>
                                    {% if key.active() %}
                                    <form action="/do/toggle_key" method="post" style="display: inline-block;"
                                          onsubmit="return confirm('С этим ключом будет нельзя вызывать методы API до тех пор, пока вы не активируете ключ снова');">
                                        {{ form_keys.hidden_tag() }}
                                        <input type="hidden" value="{{ key.key }}" id="key-pause" name="key">
                                        <input type="submit" class="btn btn-warning" value="Приостановить">
                                    </form>
                                    {% else %}
                                    <form action="/do/toggle_key" method="post" style="display: inline-block;">
                                        {{ form_keys.hidden_tag() }}
                                        <input type="hidden" value="{{ key.key }}" id="key-unpause" name="key">
                                        <input type="submit" class="btn btn-success" value="Восстановить">
                                    </form>
                                    {% endif %}

                                    <form action="/do/delete_key" method="post" style="display: inline-block;"
                                          onsubmit="return confirm('Вы действительно хотите удалить этот ключ?');">
                                        {{ form_keys.hidden_tag() }}
                                        <input type="hidden" value="{{ key.key }}" id="key" name="key">
                                        <input type="submit" class="btn btn-danger" value="Удалить">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- Создание миксина -->
                <div class="tab-pane fade" id="list-mixin" role="tabpanel"
                     aria-labelledby="list-mixin-settings-open">
                    <h5 class="register-label">Создать миксин</h5>

                        <form action="/do/create_mixin" method="post">
                            {{ form_mixin.hidden_tag() }}
                            <p>
                                {{ form_mixin.key.label }}<br>
                                {{ form_mixin.key(class="form-control") }}
                                {% for error in form_mixin.key.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                            {% endfor %}
                            <p>{{ form_mixin.submit(type="submit", class="btn btn-primary")
                                }}</p>
                        </form>

                    <div class="list-group list-group-horizontal-lg list-mixin" id="mixin-groups">
                        <a class="list-group-item list-group-item-action active mixin-tab-link" id="mixin-list-in"
                           data-toggle="list" href="#mixin-in" role="tab"
                           aria-controls="home">Входящие</a>
                        <a class="list-group-item list-group-item-action mixin-tab-link" id="mixin-list-out"
                           data-toggle="list" href="#mixin-out" role="tab"
                           aria-controls="profile">Исходящие</a>
                    </div><br>
                    <div>
                        <div class="tab-content" id="nav-tabContent-2">
                            <div class="tab-pane fade show active" id="mixin-in" role="tabpanel"
                                 aria-labelledby="mixin-list-in">
                                {% if not mixin_in %}
                                <h6 class="no-mixin">Вы еще не добавили ни одного канала в <a
                                        href="/helpdesk">миксин</a></h6>
                                {% else %}
                                    {% for mix in mixin_in %}
                                    <div class="card w-100">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ mix.name }}</h5>
                                            <p class="channel-id card-subtitle mb-2 text-muted">#{{ mix.id }}</p>

                                            <form action="/do/restrict_in_mx" method="post"
                                                  style="display: inline-block;"
                                                  onsubmit="return confirm('Вы действительно хотите убрать канал из миксина?');">
                                                {{ mixin_restrict.csrf_token }}
                                                <input type="hidden" value="{{ chan.id }}" name="subject">
                                                <input type="hidden" value="{{ mix.id }}" name="chan">
                                                <input type="submit" class="btn btn-danger" value="Удалить">
                                            </form>
                                        </div>
                                    </div><br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="mixin-out" role="tabpanel"
                                 aria-labelledby="mixin-list-out">
                                {% if not mixin_out %}
                                    <h6 class="no-mixin">Этот канал еще никто не добавил в <a href="/helpdesk">миксин</a></h6>
                                {% else %}
                                    {% for mix in mixin_out %}
                                    <div class="card w-100">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ mix.name }}</h5>
                                            <p class="channel-id card-subtitle mb-2 text-muted">#{{ mix.id }}</p>

                                            <form action="/do/restrict_out_mx" method="post"
                                                  onsubmit="return confirm('Вы действительно хотите убрать канал из миксина?');"
                                                  style="display: inline-block;">
                                                {{ mixin_restrict.csrf_token }}
                                                <input type="hidden" value="{{ chan.id }}" name="subject">
                                                <input type="hidden" value="{{ mix.id }}" name="chan">
                                                <input type="submit" class="btn btn-danger" value="Удалить">
                                            </form>
                                        </div>
                                    </div><br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/index.js" charset="utf-8" defer></script>
{% endblock %}